:root {
    --blue-custom: #295F98;
    --tan1-custom: #CDC2A5;
    --tan2-custom: #E1D7C6;
    --tan3-custom: #EAE4DD;
}

body {
    background-color: var(--blue-custom);
}

.main-container {
    background-color:var(--tan1-custom);
    margin: 30px;
}

.app-title {
    background-color: var(--tan2-custom);
    text-align: center;
    font-size: larger;
    padding: 5px;
    margin: 30px;
}

.app-description {
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: var(--tan2-custom);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
