body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.logo {
  height: auto;
}

img {
  height: 200px;
  width: 200px;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

@media (min-width: 900px) {
  body{
    background-color: lightblue;
  }

  .left.card, .right.card {
    flex: 1;
  }


  .left.card .tile-image {
    border: 20px solid black;
    float: left;
  }

  .right.card .tile-image {
    border: 20px solid blue;
    float: right;
  }

}